
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

@Html.Action("PartialHead")

<body>

    <!--header-->
    @Html.Action("PartialHeader")
    <!--//header-->
    <!-- banner section -->
    @Html.Action("PartialBanner")
    <!-- //banner section -->
    <!-- About Section-->
    @Html.Action("PartialAbout")
    <!-- //About Section-->
    <!-- Services Section -->
    @Html.Action("PartialServices")
    <!-- //Services Section -->
    <!-- Skills Section -->
    @Html.Action("PartialFeaturedSkills")
    <!-- //Skills Section -->
    <!-- Why Choose Us Section-->
    @Html.Action("PartialChoose")
    <!-- //Why Choose Us Section-->
    <!-- Stats Section-->
    @Html.Action("PartialStats")
    <!-- //Stats Section-->
    <!-- portfolio -->
    @Html.Action("PartialPortfolio")
    <!-- //portfolio -->
    <!--/brands-->
    @Html.Action("PartialBrands")
    <!-- //brands -->
    <!-- footer -->
    @Html.Action("PartialFooter")
    <!-- //footer -->
    <!-- Js scripts -->
    @Html.Action("PartialScripts")
    <!-- //Js scripts -->

</body>

</html>