
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

@Html.Action("PartialHeader", "Default")

<body>

    <!--header-->
    @Html.Action("PartialNavbar", "Default")
    <!--//header-->
    
    @RenderBody()

    <!-- footer -->
    @Html.Action("PartialFooter", "Default")
    <!-- //footer -->

    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <!-- Js scripts -->
    @Html.Action("PartialScripts", "Default")
    <!-- //Js scripts -->

</body>

</html>
